<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <p>Enter your phrase:</p><input type="text" id="phrase" name="user_phrase">
      <input type="submit">
    </form>
  </body>
</html>
